<!DOCTYPE html>
<html lang="fr">
  
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

  <img src="/img/axa_logo.jpeg" height="120" width="120" class="img-thumbnail">

    <div class="container">
        <div class="row">
          <div class="col-sm-5">
	    <form method="POST" action="success">
	    {% load crispy_forms_tags %}
	    {% csrf_token %}
              {{ form | crispy }}
	    <button type="Envoyer" class="btn btn-primary">Envoyer</button>
	    </form>
            </div>
        </div>
    </div>
          
            </div>
        </div>

    </div>


</body>

</html>
